<h1>Our Products</h1>

<% if @products.any? %>
<ul>
    <% @products.each do |product| %>
        <li><%= product.name%></li>
    <% end %>
</ul>
<% else %>
<p>No products found yet. Add some! </p>
<% end %>